.vanillaButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1rem;
  border: 1px #3333 solid;
}

.primaryButton{
  background-color: #4060dd;
  color: #fff;
}


.secundaryButton{
  background-color: #40aa70;
  color: #fff;
}